body {
  background-image: url(../../assets/images/trivia_background.jpg);
}

button {
  width: 20%;
  height: 40px;
  margin: 5px;
  padding: 3px;
  text-align: center;
  background-color:  purple;

}

#buttonA, #buttonB, #buttonC, #buttonD {
  color: white;
}

button.answerchoice {
  display: none;
}

button:hover {
  background-color: blue;
  }

.answers div {
  margin: 3px;
}

img {
  margin: auto;
  height: 200px;
  width: auto;
}

h1, h2, h3, .question  {
  text-align: center;
  color: white !important;
}